PMBOK/bin/
PMBOK/obj/
*.user
PMBOK.v12.suo
PMBOK.sln.GhostDoc.xml
.DS_Store

ConsoleTest/.DS_Store

.DS_Store

ConsoleTest/bin/.DS_Store

ConsoleTest/.DS_Store

PMBOK/.DS_Store

.DS_Store

PMBOK.userprefs
/ConsoleTest/obj
*.suo
/Refactoring/bin
/Refactoring/obj

TryNUnitTest.Tests/bin/Debug/nunit.framework.dll

TryNUnitTest.Tests/bin/Debug/TryNUnitTest.Tests.dll

TryNUnitTest.Tests/bin/Debug/TryNUnitTest.Tests.dll.mdb

TryNUnitTest.Tests/obj/Debug/.NETFramework,Version=v4.5.AssemblyAttribute.cs

TryNUnitTest.Tests/obj/Debug/TryNUnitTest.Tests.csproj.FilesWrittenAbsolute.txt

TryNUnitTest.Tests/obj/Debug/TryNUnitTest.Tests.dll

TryNUnitTest.Tests/obj/Debug/TryNUnitTest.Tests.dll.mdb

.DS_Store

.DS_Store
