PMBOK/bin/
PMBOK/obj/
*.user
PMBOK.v12.suo
PMBOK.sln.GhostDoc.xml
.DS_Store

ConsoleTest/.DS_Store

.DS_Store

ConsoleTest/bin/.DS_Store

ConsoleTest/.DS_Store

PMBOK/.DS_Store

.DS_Store

PMBOK.userprefs
